<body>
  <div id="content">
    {% for seccion in secciones %}
    Seccion: {{ seccion }}
      {% for e in secciones[ seccion ] %}
      Elemento: {{ e }}
        {% for i in secciones[ seccion ][ e ] %}
        {{ i }}: {{  secciones[ seccion ][ e ][ i ] }}
        {% endfor %}
      {% endfor %}
    {% endfor %}
    {% block content %}{% endblock %}
  </div>
  <div id="footer">
    {% block footer %}
    &copy; Copyright 2008 by <a href="http://domain.invalid/">you</a>.
    {% endblock %}
  </div>
</body>
