<article id="articulo">
  <header class="jumbotron"> 
    <h1 class="display-3">{{ contenido['subtitulo'] }}</h1>
    <hr class="my-4">
    <p class="lead" >{{ contenido['abstract'] }}</p>
  </header> 

  <div class="row">

    <div class="lead texto col-md-6" >
      {{ contenido['texto'] | md | parrafos | safe }}
    </div>
    <div class = "imagenes col-md-6" >
    {% if contenido['imagenes']  %}
        {% for imagen in contenido['imagenes'] %}
          {% include 'imagen.html' %}
        {% endfor %}
    {% endif %}
    </div>

  </div>


  {% for elemento in elementos %}
    {% set nivel = 1 %}
    <section id="articulo">
      {% include 'elemento.html' %}
   </section>
  {% endfor %}

</article>
