<div class="elemento nivel-{{nivel}}"
  {% if elemento['titulo']  %}
    id="{{ elemento['titulo'] | slug }}"
  {% endif %}
> 

{% if elemento['titulo']  %}
  <h{{nivel}}>{{ elemento['titulo'] }}</h{{nivel}}>
{% endif %}

{% if elemento['subtitulo']  %}
  <sub>{{ elemento[ 'subtitulo' ] }}</sub>
{% endif %}

{% if elemento[ 'texto' ]  %}
  <div class = "texto" >
    {{ elemento[ 'texto' ] | parrafos | safe }}
  </div>
{% endif %}

{% if elemento['imagenes']  %}
  <div class = "imagenes" >
    {% for imagen in elemento['imagenes'] %}
      {% include 'imagen.html' %}
    {% endfor %}
  </div>
{% endif %}

{% if elemento['separador']  %}
  <div class="separador" >
    <h{{nivel - 1}}>{{ elemento[ 'separador' ] }}</h{{nivel - 1}}>
    <hr>
  </div>
{% endif %}

{% set nivel = nivel + 1 %}
{% for elemento in elemento[ 'elementos']%}
  {% include 'elemento.html' %}
{% endfor %}
</div>
