
<div class="elemento nivel-{{nivel}} my-3 px-3 pt-3 "
  {% if elemento['titulo']  %}
    id="elemento-{{ elemento['titulo'] | slug }}"
  {% endif %}
> 


<div class="row">

<div class="texto col-md-6">
<header> 
  {% if elemento['titulo']  %}
  <h{{nivel}} class="titulo">
      {{ elemento['titulo'] | upper }}
    </h{{nivel}}>
  {% endif %}
</header> 

{% if elemento['subtitulo']  %}
  <p class="lead mt-3 font-weight-bold" >{{ elemento[ 'subtitulo' ] }}</p>
{% endif %}

{% if elemento[ 'texto' ]  %}
    {{ elemento[ 'texto' ] | md | safe }}
{% endif %}
</div>

<div class="imagenes col-md-6">
  {% if elemento['imagenes']  %}
   {% for imagen in elemento['imagenes'] %}
     {% include 'imagen.html' %}
   {% endfor %}
  {% endif %}
</div>

{% if elemento['separador']  %}
  {% set nivel = nivel + 1 %}
  <div class="separador col-md-12" >
    <h{{nivel}} class="titulo py-2">
      {{ elemento[ 'separador' ] }}
    </h{{nivel}}>
  </div>
{% endif %}

{% if elemento[ 'elementos' ]  %}
  {% set nivel = nivel + 1 %}
  <div class="elementos col-md-12">
    {% for elemento in elemento[ 'elementos' ]%}
      {% include 'elemento.html' %}
    {% endfor %}
  </div>
{% endif %}

</div>

</div>
