
<div class="elemento nivel-{{nivel}} mb-5"
  {% if elemento['titulo']  %}
    id="{{ elemento['titulo'] | slug }}"
  {% endif %}
> 

  <header> 
    {% if elemento['titulo']  %}
    <h{{nivel}} class="titulo py-2">
        {{ elemento['titulo'] }}
      </h{{nivel}}>
    {% endif %}

  </header> 

<div class="row">

<div class="texto col-md-6">
{% if elemento['subtitulo']  %}
  <p class="lead" >{{ elemento[ 'subtitulo' ] }}</p>
{% endif %}

{% if elemento[ 'texto' ]  %}
    {{ elemento[ 'texto' ] | md | safe }}
{% endif %}
</div>

{% if elemento['imagenes']  %}
  <div class="imagenes col-md-6">
    {% for imagen in elemento['imagenes'] %}
      {% include 'imagen.html' %}
    {% endfor %}
  </div>
{% endif %}

{% if elemento['separador']  %}
  {% set nivel = nivel + 1 %}
  <div class="separador col-md-12" >
    <h{{nivel}} class="titulo py-2">
      {{ elemento[ 'separador' ] }}
    </h{{nivel}}>
  </div>
{% endif %}

{% if elemento[ 'elementos' ]  %}
  {% set nivel = nivel + 1 %}
  <div class="elementos col-md-12">
    {% for elemento in elemento[ 'elementos' ]%}
      {% include 'elemento.html' %}
    {% endfor %}
  </div>
{% endif %}

</div>

</div>
