<header> 

<nav class="navbar navbar-expand-md py-3">

  <div class="collapse navbar-collapse justify-content-md-center" id="navbarSupportedContent">

    <a class="navbar-brand" url="{{contenido['dominio'] }}">	  
        <a class="nav-link px-3" href="index.html">
      	  {{ contenido['titulo']  | upper }}
        </a>
    </a>

    <ul class="navbar-nav">
      {% for elemento in elementos %}
      <li class="nav-item" >
        <a class="nav-link px-3" href="#{{ elemento['titulo'] | slug }}">
          {{ elemento['titulo']  | upper }}
        </a>
      </li>
      {% endfor %}
    </ul>

  </div>

</nav>

</header>
